body {
  background: #F5EEDC;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  margin: 0;
  color:#66BFBF;
}
h2{
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
}
.main_part {
  background-color: #A8ECE7;
  position:relative;
  padding-top: 100px;
}
.middle-container{
  background-color: white;
  position: relative;
  padding-top:50px;
}
.bottom-container{
  background-color:#66BFBF;
  padding-top:20px;
}
.skill-row{
  width: 50%;
  margin:100px auto;
  text-align: left;
  line-height: 2;
  }
.image{
  width: 25%;
  margin: 30px;
  float:left;
}
.bottom_cloud {
  position:absolute;
  left:300px;
  bottom: 300px;
}
.top_cloud {
  position: absolute;
  right:300px;
  top:50px;
}
.dev{
  font-style: italic;
}
hr{
  color: #EAF6F6;
  width:20%;
  border-style: dotted none none;
  border-width: 5px;
}
.footer-link{
  text-decoration: none;
  margin:20px;
  color: #11999E;
}
.btn{
  text-decoration: none;
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  margin:auto;
  position: relative;
  right:20px;
}
.contact-me{
  padding-bottom:50px;
}
p{
  line-height: 2;
}
